[ddk]
path = /your/ddk/path

[caffe]
path = /your/caffe/python/path

[framework]
name = tensorflow

[mode]
number = 1

[model]
path = model/frozen_resnet_v2_50.pb

[weight]
path =

[result]
path = result

[start_nodes]
name =resnet_v2_50/block1/unit_1/bottleneck_v2/preact/FusedBatchNorm

[end_nodes]
name =resnet_v2_50/block1/unit_1/bottleneck_v2/shortcut/BiasAdd,   resnet_v2_50/block1/unit_1/bottleneck_v2/conv3/BiasAdd


